.container{
    padding: 5rem 0 3.5rem;
}
img{
    height: 100%;
}
a{
    text-transform: capitalize;
    font-weight: bold;
}

.header{
    text-transform: capitalize;;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-weight: bold;;
}

.header span{
    background:#ccc;
    width: 120px;
    height: 2px;
    display: block;
    margin: 0 auto
}
.header span span:first-child{
    background: #2eca6a;
    width: 60px;
    height: 2px;
}

.company-box{
    // box-shadow: 0px 5px 5px rgba(36, 36, 36, 0.2);
    // box-shadow: 5px 5px 10px #b8b7b7c7;
    box-shadow: 1px 1px 11px 2px rgba(158, 158, 158, 0.3);
    border: none;
    border-radius: 6px;
    // margin-right: 23px;
}

.rating{
    font-size: 2rem;
}

.text-muted{
    font-size: 1.5rem;
}

.card-text{
    margin-bottom: 2px;
}
.details{
    font-size: 1.5rem;
    color: #2eca6a;
    // background-image: url(../../assets/alex.jpg);
}