footer{
    background: #000;
    padding: 2.5rem 0 1rem;
    color:#fff;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
}
.footer-content{
    padding-bottom: 2rem;
    margin-bottom: 1.7rem;
    border-bottom: 1px solid rgb(95, 95, 95)
}
h3,
.follow-us p:first-of-type{
    margin-bottom: 1.6rem ;
    font-size: .9rem
}
.follow-us{
    margin-right: 1.5rem;
}
h3{
    font-size: 1.12rem;
    text-transform: capitalize;
    color: #fff
}
.social-media i,
.footer-terms li a,
p,
.footer__usefull-link ul li a,
.contact-us ul li a,
::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.social-media span{
    text-transform: uppercase;
    color: #fff;
    font-size: .85rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.social-media span,
.social-media i,
.contact-us ul li a i{
    margin-right: 1.2rem;
}
.social-media i{
    font-size: 1.3rem;
}
.footer__usefull-link ul li{
    margin-bottom: .3rem
}
.footer__usefull-link ul li a{
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-size: .85rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.footer__usefull-link ul li a:hover{
    color: #03a241;
    margin-left: .4rem
}
.footer__usefull-link ul li a,
.contact-us ul li a{
    font-weight: bold;
    font-size: .82rem;
}
.contact-us ul li:first-of-type i{
    margin-left: .25rem;
}
.contact-us ul li a i{
    font-size: 1rem
}
.contact-us form{
    position: relative;
    width: 100%
}
.contact-us form input{
    width: 75%;
    background:#322f2f;
    padding-left: 10PX;
}
.contact-us form button{
    font-weight: bold;
    font-size: .9rem;
    width: 25%;
    padding: 0 ;
    background: #03a241;
    color: #fff
}
.contact-us form input,
.contact-us form button{
    height: 40px;
    border: none;
}
.contact-us form button,
::placeholder,
h6{
    text-transform: capitalize;
}
h6{
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.footer-terms li{ 
    margin: 0 .6rem;
}
.footer-terms li::after{ 
    content: "|";
    font-family: fontawesome;
    font-size: 1rem;
    margin-left: .6rem;
}
.footer-terms {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}
@media (max-width:768px){
    .footer-terms {
    flex-direction: row;
        justify-content: flex-start
    }
}

