<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="follow-us">
                        <h3>Trip me</h3>
                        <p>
                            Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates
                            definitionem
                            sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an vix, ut
                            delectus
                            expetendis vis.
                        </p>
                        <p class="social-media">
                            <span>follow us</span>
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-instagram"></i>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__usefull-link">
                        <h3>usefull link</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a routerLink="/">about</a>
                            </li>
                            <li>
                                <a routerLink="/">login</a>
                            </li>
                            <li>
                                <a routerLink="/">register</a>
                            </li>
                            <li>
                                <a routerLink="/">news</a>
                            </li>
                            <li>
                                <a routerLink="/">contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="contact-us">
                        <h3>contact with us</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="tel:01068779800">
                                    <i class="fa fa-mobile"></i>
                                    + 61 23 8093 3400
                                </a>
                            </li>
                            <li>
                                <a href="mailto:dinaabdellatif94@gmail.com">
                                    <i class="fa fa-envelope-o"></i>
                                    info@iti.org
                                </a>
                            </li>
                        </ul>
                        <h6>newsletter</h6>
                        <form class="d-flex">
                            <input type="text" name="user-email" placeholder="your email">
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="../../assets/cards_all.svg" alt="">
                </figure>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled footer-terms">                                                                                            ">
                    <li>
                        <a href="#">terms and conditions</a>
                    </li>
                    <li>
                        <a href="#">privacy</a>
                    </li>
                    <li>
                        <a href="#">@2019 iti</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>