/*error page*/
#contact .contact_header h2 {    
    font-size: 200px;
    line-height: 1.5;
    // color: #01bafd;
   color: #c50808;
    // border-color: #990101;
}
#contact .contact_header a#back {    
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px 18px;
    
}
#contact .contact_header a#back:hover {    
    color: #fff;
    background: #990101;
    border-color: #990101;
}


// .read-more_button,
// .our_read-more{
//     background: #0e843c;
//     color: #fff;
//     border-radius: 25px;
//     padding: 8px 20px;
//     text-transform: capitalize;
//     border: 2px solid #0e843c;
//     font-weight: bold;
//     margin: 1rem 0;
//     transition: all .3s ease-in-out;
//     -webkit-transition: all .3s ease-in-out;
//     -moz-transition: all .3s ease-in-out;
//     -ms-transition: all .3s ease-in-out;
//     -o-transition: all .3s ease-in-out;
//     border-radius: 25px;
//     -webkit-border-radius: 25px;
//     -moz-border-radius: 25px;
//     -ms-border-radius: 25px;
//     -o-border-radius: 25px;
// }
// .read-more_button:hover{
//     background: none;
//     color: #0e843c
// }
   