<section id="course_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>404</h2>
                    <span id="slash">home</span>
                    <span>404</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact_header text-center">
                    <h3>Oops! The page you requested was not found!</h3>
                    <!-- <p>
                            The page you are looking for is not available or has been removed or changed.
                        </p> -->
                    <h2>404</h2>
                    <!-- <a routerLink='Home' class="read-more my-5">go to home</a> -->
                </div>
            </div>
        </div>
    </div>
</section>