<section class="adventure">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="adventure-background">
                    <div class="col-lg-5 col-md-8">
                        <span>adventue</span>
                        <h2>Yur Perfect
                            Advenure Experience
                        </h2>
                        <p>Activities and accommodations</p>
                        <a routerLink="/" class="read-more_button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>