.adventure{
    padding: 0 0 3.5rem ;
    background: #f8f8f8
}
.adventure-background{
    background-image: url(../../assets/jumbo_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4.5rem 4.5rem 5rem  ;
    color:#fff
}
.adventure-background span{
    text-transform: uppercase
}
.adventure-background h2{
    text-transform: capitalize;
    margin-top: 1rem;
}
.adventure-background p{
   font-size: 1.2rem;
   margin-bottom: 2.5rem
}
.adventure-background a:hover{
    color: #fff;
}
@media (max-width: 767px){
    .adventure-background{
        padding: 4rem 1rem;
    } 
}