<header>
    <div class="overlay text-center ">
        <div class="header-content">
            <h1>About Trip me</h1>
            <p>
                WE ASPIRE TO CHANGE THE CONCEPT OF TRAVELLING BY MAKING
                IT MORE AUTHENTIC, MORE SAFELY.
            </p>
        </div>
    </div>
</header>

<section id="services">
    <div class="section-header text-center ">
        <span>
            <span></span>
        </span>
        <h2>Why Choose Trip me</h2>
        <p>Where you achieve your Dream</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="services__item col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="ti-medall"></i>
                    <h3>+ 1000 Customers</h3>
                    <p>attracts more than a thousand visitors per month,due to the increased confidence in our service.
                    </p>
                </a>
            </div>
            <div class=" services__item col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="ti-headphone"></i>
                    <h3>H24 Support</h3>
                    <p> Trip me team is ready to answer all inquiries and is constantly looking for the best. </p>
                </a>
            </div>
            <div class=" services__item col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="ti-map-alt"></i>
                    <h3>+ 575 Locations</h3>
                    <p>We have a workspace and data for more than a thousand places around the world.</p>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- End our services -->
<!-- Start our Team -->
<div class="section-header text-center px-5 mx-5 ">
    <span>
        <span></span>
    </span>
    <h2>Our Team </h2>
    <p>
        Convinced that humans deserve to fly like birds and have the right to travel to all countries of the world.</p>
</div>

<ngb-carousel>
    <div class="row justify-content-center">
        <ng-template ngbSlide class="col-md-4">
            <div class="slider__item p-5 ">
                <figure class="figure">
                    <img src="../../assets/hotel_2.jpg" alt="Angular Carousel 2">
                </figure>
                <div>
                    <h3>Dina</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </div>
        </ng-template>

        <ng-template ngbSlide class="col-md-4">
            <div class="slider__item p-5 ">

                <figure class="figure">
                    <img src="../../assets/images/aboutUs/mustafa.jpeg" alt="Angular Carousel 2">
                </figure>
                <div>
                    <h3>Mustafa</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide class="col-md-4">
            <div class="slider__item p-5 ">
                <figure class="figure">
                    <img src="../../assets/hotel_2.jpg" alt="Angular Carousel 2">
                </figure>
                <div>
                    <h3>Osama</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide class="col-md-4">
            <div class="slider__item p-5 ">

                <figure class="figure">
                    <img src="../../assets/hotel_2.jpg" alt="Angular Carousel 2">
                </figure>
                <div>
                    <h3>Walaa</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide class="col-md-4">
            <div class="slider__item p-5 ">

                <figure class="figure">
                    <img src="../../assets/hotel_2.jpg" alt="Angular Carousel 2">
                </figure>
                <div>
                    <h3>Ayaa</h3>
                    <p>Consectetur tortor volutpat pretium.</p>
                </div>
            </div>
        </ng-template>

        
    </div>


</ngb-carousel>
<!-- End our Team -->