<!-- <div *ngIf="companyPackage">
 <ngb-rating [rate]="4" [readonly]="isReadonly"></ngb-rating> 
</div> -->
<div class="container">
  <div class="header text-center">
    <span>
      <span></span>
    </span>
    <h1 class="mt-3 mb-5">our companies package</h1>
  </div>
  <div class="row no-gutters" *ngIf="companyPackage">
    <div class="col-md-4 pr-3" *ngFor="let company of companyPackage">
      <div *ngFor="let package of company.travelPlan">
        <div class="card mb-4">
          <img src="{{package.countryImg}}" class="card-img-top img-fulid" alt="">
          <div class="card-body">
            <h2 class="card-title text-center">{{package.country}}</h2>
            <p class="discription"> {{package.activity}}</p>
            <p class="date">Depature Date :<span class="date-number"> {{package.depatureDate}}</span></p>
            <p class="date">Arrival Date :<span class="date-number"> {{package.arrivalDate}}</span></p>
            <rating [(ngModel)]="rate" [max]="4" [readonly]="isReadonly"></rating>
            <div class="price-amont">
              <p class="pt-2">
                <strong>
                  {{package.price}}
                </strong>
                for person</p>
              <div class="book-btn"><a href="" class="btn btn-primary">Book</a>
              </div>
            </div>
            <div class="company-data pt-3">
              <span></span>
              <p class="pt-2"><strong>{{company.name}} company</strong></p>
              <rating [(ngModel)]="rate" [max]="5" [readonly]="isReadonly" class="rating"></rating>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
