<div class="user-information text-center">
    <div class="container">
        <ng-container *ngFor="let userFavoriteTrip  of userTrips">

        </ng-container>
        <!-- start user info -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="image">
                        <img src="./../../assets/images/user_review_photo.jfif">
                        <p>change photo</p>
                        <input type="file" accept=".png, .jpg.jpeg" (change)='onFileChange($event)'>
                        <img [src]="imagePic" alt="">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">{{userName}}</h2>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <a href="#">
                                    <i class="far fa-address-card"></i>
                                    <p class="d-none d-sm-block">about</p>
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                    <p class="d-none d-sm-block">like</p>
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="#">
                                    <i class="far fa-comment"></i>
                                    <p class="d-none d-sm-block">message</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end user info  -->
<!--  start user trip -->
<div class="trip-map">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 *ngIf="userTrips.length === 0">
                    Your Favorite Trip is empty
                </h3>
            </div>
            <div class="col-12 text-center">
                <h3 *ngIf="userTrips.length >=1">Your FavoriteTrip</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Places</h4>
            </div>
            <div #parent *ngFor="let userFavoriteTrip of userTrips">
                <div class="col-12 col-md-4" *ngIf="userFavoriteTrip.category === 'place'">
                    <div class="card">
                        <img [src]="userFavoriteTrip.img" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title">{{userFavoriteTrip.title}}</h2>
                            <p class="card-text">
                                <span class="price"><strong>{{userFavoriteTrip.price}}</strong></span>
                            </p>
                            <button class="btn btn-danger" type="button"
                                (click)="cancelTrip(userFavoriteTrip.id,parent)">Cancel
                                Trip</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Hotels</h4>
            </div>
            <div #parent *ngFor="let userFavoriteTrip of userTrips">
                <div class="col-md-4 col-12" *ngIf="userFavoriteTrip.category === 'hotel'">
                    <div class="card">
                        <img [src]="userFavoriteTrip.img" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title">{{userFavoriteTrip.title}}</h2>
                            <p class="card-text">
                                <span class="price"><strong>{{userFavoriteTrip.price}}</strong></span>
                            </p>
                            <button class="btn btn-danger" type="button"
                                (click)="cancelTrip(userFavoriteTrip.id,parent)">Cancel
                                Trip</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Restaurant</h4>
            </div>
            <div #parent *ngFor="let userFavoriteTrip of userTrips">
                <div class="col-md-4 col-12" *ngIf="userFavoriteTrip.category === 'restaurant'">
                    <div class="card">
                        <img [src]="userFavoriteTrip.img" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{userFavoriteTrip.title}}</h5>
                            <p class="card-text">
                                <span class="price"><strong>{{userFavoriteTrip.price}}</strong></span>
                            </p>
                            <button class="btn btn-danger" type="button"
                                (click)="cancelTrip(userFavoriteTrip.id,parent)">Cancel
                                Trip</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end  user  favorite trip -->

<!--  start  user shareing  post  to  see tour guide helping  -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="post">
                <h4 class="pt-4 pb-4">Need a help ? <br>
                    share a post to let a tour guide help you</h4>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="form-group">
                        <textarea formControlName="message" placeholder="Your message" rows="3"></textarea> <br>
                        <span class="alert alert-danger" role="alert" *ngIf="myForm.touched &&myForm.invalid">
                            <span *ngIf="userTrips.length === 0 ">
                                You don't have trip yet..
                            </span>
                            <span *ngIf="myForm.get('message').value ===''">
                                Write a post!!
                            </span>
                        </span>
                    </div>
                    <button type="submit" [disabled]="myForm.invalid || userTrips.length === 0" class="mb-4">Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- end share post  -->
