<!-- Start Alexandria slider -->
<header>
<div class="overlay text-center ">
  <div class="header-content">
      <h1>Alexandria</h1>
      <p>Expolore top rated tours, hotels and restaurants </p>
      <form>
          <input type="text" class="w-50" name="search" placeholder="search">
          <a routerLink="/">search</a>
      </form>
  </div>
</div>
</header>

<!-- end  alexandria slider -->

<!-- start alexandria nav data -->

<!-- End  alexandria nav data -->

<!-- start alexandria restaurants -->
<app-alex-restaurants></app-alex-restaurants>
<!-- end alexandria restaurants -->

<!-- start alexandria hotels -->
<app-alex-hotels></app-alex-hotels>
<!-- end alexandria hotels -->

<!-- start alexandria visits -->
<app-alex-visits></app-alex-visits>
<!-- End alexandria visits -->

