<!-- Start Alexandria slider -->
<header>
<div class="overlay text-center ">
  <div class="header-content">
      <h1>Alexandria</h1>
      <p>Alexandria is home, where your journey begins</p>
  </div>
</div>
</header>

<!-- end  alexandria slider -->

<!-- start alexandria restaurants -->
<app-alex-restaurants></app-alex-restaurants>
<!-- end alexandria restaurants -->

<!-- start alexandria hotels -->
<app-alex-hotels></app-alex-hotels>
<!-- end alexandria hotels -->

<!-- start alexandria visits -->
<app-alex-visits></app-alex-visits>
<!-- End alexandria visits -->

