h1{
    font-weight: bold
}
p{
    font-size: 1.4rem;
    text-transform: capitalize
}
header{
    background-image: url(../../assets/alex_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 450px;
    // margin-bottom: 3.5rem
}
.header-content{
    margin-top: 3rem;    
}
header input{
    height: 40px;
    border: 0;
    padding-left: 10px
}
::placeholder{
    text-transform: capitalize;

}
header a{
    background: #0e843c;
    color:#fff;
    height: 40px;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 100px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 40px;
}
.overlay{
    color: #fff;
    background: rgb(0,0,0,.45);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    align-items: center;
    display: flex;
    justify-content: center;
}
@media (max-width: 700px) {
    .header-content{
        margin-top: 6rem;
    }
    h1{
        font-size: 2rem
    }
} 


// ***********start nav data style*******************

#nav__data{
    li{
        a{
            font-size: 1.6rem;
        }
    }
    p{
        font-size: 1.4rem;
    }
}


// ***********End nav data style*********************