:root{
  font-size: 10px;
}

.login {
  padding-top: 10%;
  padding-bottom: 10%;
  background: #ECF0F1;
}

.login-box {
  width: 40%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
}

.login-box h2 {
  text-align: center;
  color: black;
  font-size: 2.2rem;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  margin: 0 20px;
}

.login-box form {
  padding: 10px 20px;
}

.login-box form p {
  position: relative;
  height: 45px;
  margin: 10px 0;
}

.login-box form p input {
  width: 100%;
  position: absolute;
  padding: 5px 10px 5px 27px;
  background: #ECF0F1;
  border: medium none;
  border-radius: 5px;
  font-size: 1.5rem;
}

.login-box form button {
  width: 100%;
  padding: 7px 15px;
  background: #ff6d34;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.5rem;
  cursor: pointer;

  a {
    color: white;
  }
}

.login-box .error-msg {
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

.donot-have-account {
  padding: 0 0 15px;
  margin: 0 20px;
  text-align: center;
}

.donot-have-account p {
  font-size: 1.5rem;
}

.donot-have-account a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}


@media only screen and (max-width: 768px) {
  .login-box {
    width: 60%;
  }
}