.popular-hotel{
    background:#f8f8f8;
    padding: 3.5rem 0
}
.section-header span{
    margin: 0;
}
.hotel-img__content{
    font-size: 0;
    position: relative;
    overflow: hidden;
    min-height: 12rem ;
    max-height: 12rem ;
}
.hotel-img__content img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    min-height: 12rem ;
    max-height: 12rem ;
    
}
.hotel-img__content:hover img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    cursor: pointer;
}

.hotel-img__content figcaption i{
    font-size: 0.6rem;
    margin-right: 3px;
}
.hotel-img__content figcaption {
    color: #fff;
    background: linear-gradient(to bottom, transparent, #000);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2rem 0 .8rem;
    z-index: 8;
    color: #fff;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: lighter;
    padding-left: 1.2rem;
}
.hotel-img__content figcaption p{
    margin: 0
}
.view-all__hotels{
    margin-top: .7rem
}
.view-all__hotels a{
    color: #0e843c;
    margin-left: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    opacity: .8;
}
