
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 ">
            <div class="details">
                <figure>
                    <a href="#" class="heart">
                        <i class="fas fa-heart"></i>
                    </a>
                    <a href="hotel-detail.html"><img src="../../assets/images/tour/download.jpg" class="img-fluid">
                        <div class="read_more">
                            <span>Read more</span>
                        </div>
                    </a>
                    <small>Paris Centre</small>
                </figure>
                    <div class="rated">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="cart-info">
                        <h3><a href="hotel-detail.html">Park Hyatt Hotel</a></h3>
                        <p>Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.</p>
                        <span class="price">From <strong>$54</strong> /per person</span>
                    </div>

                <ul>
                    <li><i class="far fa-eye"></i>164 views</li>
                    <li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>
                </ul>
            </div>
        </div>

    </div>
</div>
