<section id="visits">
    <div class="container">
        <div class="visits__title text-center">
            <span>
                <em></em>
            </span>
            <h2 class="h1">Popular Visits</h2>
            <p>Most visits in the City</p>
        </div>
        <div class="row">
            <div *ngFor="let popvisit of popularVisits " class="col-md-6 mb-3">
                <div class="card visits__item m-3">
                    <div class="row no-gutters">
                        <a routerLink="/Alexandria/visits/{{popvisit.id}}">
                        <figure class="figure col-md-6 visits__item-img ">
                            <img class="card-img-top  img-fluid " src="{{popvisit.img}}"
                                alt="alexandria tour {{popvisit.name}}">
                        </figure>
                        <figcaption>
                            <span>{{popvisit.rate}}</span>
                        </figcaption>
                        <div class="card-body col-md-6 visits__item-info pl-3 mb-md-0 mb-sm-3 align-items-end">
                            <h5 class="card-title visits__item-info--title">{{popvisit.name}}</h5>
                            <p class="card-text visits__item-info--description mb-5">{{popvisit.shortDescription}}
                            </p>
                            <div class="visits__item-btn  m-3">
                                <div class="row no-gutters justify-content-between  ">
                                    <!-- <a (click)="onSelect(popvisit)" >More info</a> -->
                                    <a routerLink="/Alexandria/visits/{{popvisit.id}}">More info</a>
                                    <a class="btn btn-primary ">Add to my trip</a>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div  *ngIf="myvisits" class="view-all__hotels">
                <a routerLink="/AllVisits">view all ({{myvisits.length}})</a>
            </div>
        </div>
    </div>
</section>