


<section class="all-restaurant wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11">
                <div class="card  all-restaurant__details" *ngFor="let visit of allVisits">
                    <div class="row no-gutters">
                        <div class="col-md-5 all-restaurant__details--img">
                            <a [routerLink]="['/visit', visit.id]">
                                <img [src]="visit.img" class="card-img"
                                alt="{{visit.name}} {{visit.city}}">
                            </a>
                        </div>
                        <div class="col-md-7 all-restaurant__details--content">
                            <div class="card-body py-5">
                                <div class="py-5">
                                    <a href="" class="icon-heart">
                                        <!-- <i class="fas fa-heart"></i> -->
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a [routerLink]="['/visit', visit.id]">
                                        <h3 class="card-title">{{visit.name}}</h3>
                                    </a>
                                    <p class="card-text">{{visit.shortDescription}}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a routerLink="/Alexandria/visits/{{visit.id}}" class="more-info">More info</a>
                                    <a routerLink="/user-trip" class="add-to-my-trip" (click) ="addToMyTrip($event)"> Add to my trip</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
