.tourGuide-profile{
    padding: 5rem 0;
}
.card{
    margin: 0rem 0rem 1rem ;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.box_grid {
    background-color: #fff;
    display: block;
    position: relative;
   
}
.box_grid figure {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.box_grid figure img {
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: auto;
}

.img-fluid {
    width: 100%;
    height: 100%;
}
.box_grid figure small {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    left: 20px;
    top: 22px;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 10px 4px 10px;
    line-height: 1;
}
.box_grid .wrapper {
    padding: 10px  ;
}
.box_grid .wrapper h2 {
   color: #32a067 ;
    font-size: 1.5rem;
    margin-top: 0;
}
.box_grid .rating{
    padding: 20px 15px;
    border-top: 1px solid #ededed;
}
.rating p{
    margin-bottom: 10px;
}
.card-body .card-title{
    color: #32a067;
}
.card-body  .card-text{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}
.rating li p {
    font-size: 14px ;
    color: #4d5153;
    padding: 0px;
    font-weight: bold;
    color:#03a241;
}
 .rating  li {
    padding: 10px 0;
    position: relative;
    text-transform: capitalize;
}
 .rating  li  p  span  {
    font-size: 14px ;
    color: #4d5153;  
    float: right;
    font-weight: 500;
}
.contact{
    text-align: center
}
button{
    border: none;
}

.contact a,
button{
    padding: 7px 20px ;
    border-radius: 20px;
    background: #03a241;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.tour-info{
    padding-bottom: 5rem;
}
.tour-info figure{
    min-height: 270px;
    width: 100%;
}
.tour-info figure img{
    width: 100%;
    height: 100%;
}
.tour-info .rating  li  p  span  {
    font-size: 13px ;
    color: #4d5153;
    margin-right: 0px;
    font-weight: 500;
}
.tour-info  .rating  li {
    padding: 6px 0px;
    position: relative;
    text-transform: capitalize;
  
}
.card-header{
    color: #ffffff;
}
.booking .bord{
    border-bottom: .025rem solid #c9c9c9;
    border-top: .025rem solid #c9c9c9;
}
.form-control{
    border: none;
    border-bottom: 1px solid #dddddd;
    background: none
}

textarea{
    resize: none;
    overflow: hidden;
}

#edit:hover,
#save:hover{
    cursor: pointer;
}
#edit,#save{
    border: 2px solid #03a241
}
#edit:hover
{
    color: #03a241;
    background: none;
}
i{
    color: #03a241;
    position: absolute;
    z-index: 4;
    top: 1rem;
    right: 1rem;
    font-size: 2.3rem;
}

.images{
    position: absolute;
    z-index: 6;
    top: 1rem;
    opacity: 0;
}