<form [formGroup]="guideUser" (ngSubmit)="tourGuideUser(guideUser)">
    <section class="tourGuide-profile" *ngIf="usersGuide">
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 isotope-item popular">
                        <div class="box_grid">
                            <figure>
                                <a>
                                    <img [src]="usersGuide.tourGuideImg" class="img-fluid">
                                    <div *ngIf="eman">
                                            <i class="fa fa-camera"></i>
                                        <input type="file" class="form-control images" (change)="onfilechange($event)">
                                    </div>
                                </a>
                                <!-- <small>{{guidData.job}}</small> -->
                            </figure>
                            <div class="wrapper">
                                <h2>{{usersGuide.userName}}</h2>
                                <!-- <p class="card-text"><small class="text-muted">{{guidData.job}}</small></p> -->
                            </div>
                            <div class="rating">
                                <h6>Guide Rating</h6>
                                <div class="reviews-container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-9 col-9">
                                                    <p> Excellent
                                                    </p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width:80%"
                                                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-3"><small><strong>
                                                            <!-- ({{guidData.rate[0].ExcellentNum}}) -->
                                                        </strong></small></div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-9 col-9">
                                                    <p> Very Good</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width:60%"
                                                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-3"><small><strong>
                                                            <!-- ({{guidData.rate[0].VeryGoodNum}}) -->
                                                        </strong></small></div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-9 col-9">
                                                    <p> Average</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width:65%"
                                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-3"><small><strong>
                                                            <!-- ({{guidData.rate[0].AverageNum}}) -->
                                                        </strong></small></div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">

                                                <div class="col-lg-9 col-9">
                                                    <p> Poor</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width:50%"
                                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-3"><small><strong>
                                                            <!-- ({{guidData.rate[0].PoortNum}}) -->
                                                        </strong></small></div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-9 col-9">
                                                    <p>Terrible</p>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width:45%"
                                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-3"><small><strong>
                                                            <!-- ({{guidData.rate[0].TerribleNum}}) -->
                                                        </strong></small></div>
                                            </div>
                                            <!-- /row -->
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-6 col-md-6 isotope-item popular">
                        <div class="card-body">
                            <div class="d-flex flex-row ">
                                <h5 class="card-title">About me</h5>
                                <div *ngIf="eman" class="contact ml-auto">
                                    <a id="edit" (click)="editData(guideUser,$event)">Edit</a>
                                    <button id="save" type="submit">Save</button>
                                </div>
                            </div>
                            <hr>
                            <!-- user name -->
                            <textarea rows="7" class="form-control " [value]="usersGuide.aboutUserName"
                                formControlName="aboutUserName">{{usersGuide.aboutUserName}} </textarea>
                            <p class="card-text">
                            </p>
                            <hr>
                            <div class="container" >
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">expereince</label>
                                    <div class="col-sm-6" *ngIf="usersGuide">
                                        <input [value]="usersGuide.experience"  formControlName="experience"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">language</label>
                                    <div class="col-sm-6" *ngIf="usersGuide">
                                        <input  [value]="usersGuide.language" formControlName="language"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Private tour guide in</label>
                                    <div class="col-sm-6" *ngIf="usersGuide">
                                        <input [value]="usersGuide.PrivateGuide" formControlName="PrivateGuide"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class=" row">
                                    <label class="col-sm-6 col-form-label">other guiding area </label>
                                    <div class="col-sm-6" *ngIf="usersGuide">
                                        <input [value]="usersGuide.OtherGuiding" formControlName="OtherGuiding"
                                            class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tour-info">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                    <div class="card">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 ">
                                <div class="box_grid">
                                    <figure>
                                        <img [src]="usersGuide.tripImg" class="img-fluid">
                                        <div *ngIf="eman" >
                                            <i class="fa fa-camera"></i>
                                            <input type="file" class="form-control images" (change)="tripImg($event)">
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 ">

                                <div class="card-body">
                                    <h5 class="card-title">About Trip</h5>
                                    <hr>
                                    <p class="card-text">
                                        <textarea rows="8" class="form-control " [value]="usersGuide.tripDiscription"
                                            formControlName="tripDiscription">{{usersGuide.aboutUserName}} </textarea>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="booking">
                        <div class="card">
                            <h5 class="card-header bg-success">Book Guide</h5>
                            <div class="card-body">
                                <ul class="list-unstyled rating">
                                    <li>
                                        <p>Half Day Tour -<span>USD
                                            </span> </p>
                                    </li>
                                    <li class="bord">
                                        <p>Full Day Tour -<span>USD
                                            </span> </p>
                                    </li>
                                    <li>
                                        <p>Multi Day Tour -<span>On Request</span></p>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-success">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</form>