.tour-guid__content{
    padding: 3.5rem 0
}
.card{
    border:none;
    box-shadow: 0px 0px 35px -12px rgba(44, 44, 44, 0.27);
    margin-bottom: 1.5rem
}
.card-title a{
    color: #0e843c;
    font-weight: bold;
    font-size: 1.1rem;
}
p{
    font-size: 0.9rem
}