.all-restaurant {
  padding: 5rem 0;
  background-color: #f8f8f8;
}
  .row {
    justify-content: center;
  }

.all-restaurant__details {
  box-shadow: 5px 5px 20px #b8b7b7c7;
  position: relative;
  margin: 0 auto 1.5rem;
}
.all-restaurant__details--img figure {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  min-height: 335px;
}
.all-restaurant__details--img figure small {
position: absolute;
background-color: rgba(0,0,0,0.6);
right: 20px;
top: 20px;
text-transform: uppercase;
color: #ccc;
font-weight: 600;
border-radius: 3px;
padding: 7px 10px 4px 10px;
line-height: 1;
z-index: 99;
}
figure {
  width: 100%;
  height: 100%;
}
figure a img {
width: 100%;
height: 100%;
transition: all 0.3s ease-in-out;
}

ul {
padding: 10px;
border-top: 1px solid #ededed;
margin-bottom: 0;
text-align: right;
}
ul, ol {
list-style: none;
margin: 0 0 25px 0;
padding: 0;
}
ul li {
display: inline-block;
}
ul li {
margin-right: 0;

}
ul li a{ text-decoration: none;
   background-color:#0e843c;
    font-size: .9rem;
     padding:.5rem 1rem; 
     display: inline-block; 
     color: #ffffff;
      margin-top: 18px;
       border-radius: 20px; 
}
.score span {
display: inline-block;
position: relative;
top: 7px;
margin-right: 8px;
font-size: 10px;
font-size: 0.75rem;
text-align: right;
line-height: 1.1;
font-weight: 500;
}
.score span em {
display: block;
font-weight: normal;
font-size: 11px;
font-size: 0.6875rem;
}
.score strong {
   background-color: #0e843c; 
  color: #fff; line-height: 1; 
    border-radius: 5px 5px 5px 0; 
    padding: 8px;
     display: inline-block;
}
.card-body{
padding:10px 20px  0px;

}
.card-body p{
margin: 30px 0px;
}
.card-body-info {
min-height: 245px;
}
.score {
position: absolute;
right: 15px;
z-index: 1;
display: inline-block;
color: #555;
line-height: 1;
border-radius: 3px;

}
.card-body-info h3 a{
color:#0e843c;}
.card{
  border: none
}
.card-body-info h3  {
font-size: 20px;
font-size: 1.25rem;
margin-top: 0;

}
.card-body-info .price {
display: inline-block;
font-weight: 500;
color: #999;
}
.card-body-info .price strong {
color: #0e843c;
}
.form-check{
  text-align: start;
}
.form-check input{
  float: right;
  position: relative;
}
input.search{
  background: #fafafa
}
li.header{
  font-weight: bold;
  text-align: start
}

.form-check{
  text-align: start;
}
.form-check input{
  float: right;
  position: relative;
}
input.search{
  background: #fafafa
}
li.header{
  font-weight: bold;
  text-align: start
}
.form-check{
  padding-left: 0
}

ul li a.add-to-my-trip{ text-decoration: none;
  background-color:#0e843c;
   font-size: .9rem;
    padding:.5rem 1rem;
     display: inline-block; 
     color: #ffffff;
     margin-top: 18px;
      border-radius: 20px;
}
ul li a.add-to-my-trip:hover{
 background: none;
 color: #0e843c
}