
<section class="all-restaurant wow slideInUp" data-wow-duration="1s" data-wow-delay="1s">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center mb-5">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="text" class="form-control" [(ngModel)]="hotelSearch" name="searchname"
                                    (input)="search()" placeholder="hotel city">
                            </li>

                            <li class="list-group-item header">Rate</li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input #checkRatee type="checkbox" class=" form-check-input" value="5" 
                                    (click)="filterationRate(checkRatee.value,checkRatee.checked)">
                                    <label class="form-check-label" for="defaultCheck1">
                                        5 -7
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input #checkRate type="checkbox" class=" form-check-input" value="8" 
                                    (click)="filterationRate(checkRate.value,checkRate.checked)">
                                    <label class="form-check-label" for="defaultCheck1">
                                        8 -10
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item header">Price</li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input #checkPriceHotel type="checkbox" class=" form-check-input" value="110"
                                        (click)="filterationPrice(checkPriceHotel.value,checkPriceHotel.checked)">
                                    <label class="form-check-label" for="defaultCheck1">
                                        between 110$ - 150$
                                    </label>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input #checkPriceHotelbetween type="checkbox" class=" form-check-input" value="150" 
                                    (click)="filterationPrice(checkPriceHotelbetween.value,checkPriceHotelbetween.checked)">
                                    <label class="form-check-label" for="defaultCheck1">
                                        between 150$ - 190$
                                    </label>
                                </div>

                            </li>
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input #checkPriceHotellast type="checkbox" class=" form-check-input" value="190"
                                     (click)="filterationPrice(checkPriceHotellast.value,checkPriceHotellast.checked)">
                                    <label class="form-check-label" for="defaultCheck1">
                                        between 190$ - 230$
                                    </label>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="card  all-restaurant__details" *ngFor="let hotel of allHotels">
                    <div class="row no-gutters">

                        <div class="col-lg-5 all-restaurant__details--img">
                            <figure>
                                <a routerLink="/Alexandria/hotels/{{hotel.id}}">
                                    <small>Hotels</small>
                                    <img [src]="hotel.img" class="card-img img-fluid">
                                </a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-12 all-restaurant__details--content">
                            <div class="card-body">
                                <div class="card-body-info">
                                    <a  class="wish_bt">
                                        <div class="score"><span>Good<em>350 Reviews</em></span><strong>{{hotel.rate}}</strong></div>
                                    </a>
                                    <h3><a routerLink="/Alexandria/hotels/{{hotel.id}}"> {{hotel.name}} </a></h3>
                                    <p>{{hotel.shortDescription}}</p>
                                    <span class="price">From <strong>{{hotel.price}}</strong> /per person</span>
                                </div>
                                <ul>
                                    <!-- <li ><a class="add-to-my-trip"  (click)="addToMyTrip(hotel)">Add to my trip</a></li> -->
                                    <li ><a class="add-to-my-trip read-more_button" (click)="addToMyTrip(hotel)">Add to my trip</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</section>